.card {
    background: var(--bg-color);
    border-radius: 6px;
    border: 1px solid var(--border-color);

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        border-radius: 6px 6px 0 0;
    }
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px 6px 0 0;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.card-text {
    color: var(--text-color-light);
    margin-bottom: 0.5rem;

    &.title {
        font-weight: 700;
    }

    &.description {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.card-type {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    color: var(--bg-color);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    gap: 0.5rem;
    
    p {
        font-weight: 700;
        margin: 0;
    }
}

@media screen and (hover:hover) {
    .card {
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        }
    }
}