:root {
    --bg-color: #ffffff;
    --primary-color: #ae3dd1;
    --primary-color-hover: #8d2faa;
    --border-radius: 0.5rem;
    --header-border-color: #e2e8f0;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

