.main {
    margin-bottom: 0;
}

.form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .notifications {
        width: 100%;
        max-width: 420px;
        transform: translateY(-4rem);
    }
}

.form {
    width: 100%;
    max-width: 420px;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .hd-1,
    .hd-2 {
        margin: 0;
    }
}

.form-element {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1rem;
    
    label {
        font-weight: 700;
    }

    input {
        padding: 10px;
        border: 1px solid var(--text-color-light);
        border-radius: var(--border-radius);

        ::placeholder {
            color: var(--text-color-light);
        }
    }
}

#email-help,
#password-help {
    color: var(--text-color-light);
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    button {
        justify-content: center;
    }
}